examples/processstack-exemple.json
[{"id":"ad7a38ad45aca7e6","type":"tab","label":"pst-Example","disabled":false,"info":"","env":[]},{"id":"61f6cf188013bfad","type":"pst-push","z":"ad7a38ad45aca7e6","name":"insert Entry ETQ1","stack":"6cee6eea69481244","x":430,"y":160,"wires":[[]]},{"id":"a60f540c48ca354a","type":"pst-clearstack","z":"ad7a38ad45aca7e6","name":"Clear Input ETQ1","stack":"6cee6eea69481244","x":430,"y":100,"wires":[[]]},{"id":"13b226248af0ad42","type":"pst-supervisor","z":"ad7a38ad45aca7e6","name":"Supervise Entry ETQ1","stack":"6cee6eea69481244","autoUpdate":true,"x":240,"y":220,"wires":[[],["219bc1a08af4a2b8","9c98144049efc824"]]},{"id":"a36accb9af27fb5d","type":"pst-transfert","z":"ad7a38ad45aca7e6","name":"PF-ETQ1 Process","stackin":"6cee6eea69481244","stackout":"7b69321d0449238e","x":430,"y":460,"wires":[[]]},{"id":"f5a8724a86d2d7bd","type":"pst-clearstack","z":"ad7a38ad45aca7e6","name":"Clear output ETQ1","stack":"7b69321d0449238e","x":410,"y":660,"wires":[[]]},{"id":"293589974bbb50cf","type":"pst-supervisor","z":"ad7a38ad45aca7e6","name":"Supervise output ETQ1","stack":"7b69321d0449238e","autoUpdate":true,"x":230,"y":600,"wires":[[],["b2f941235372770f"]]},{"id":"219bc1a08af4a2b8","type":"ui-pst-table","z":"ad7a38ad45aca7e6","name":"","group":"2978855bfc7e2ad5","width":"6","height":"6","order":"0","x":430,"y":220,"wires":[]},{"id":"b2f941235372770f","type":"ui-pst-table","z":"ad7a38ad45aca7e6","name":"","group":"48f44daf9b11b412","width":"6","height":"6","order":"0","x":430,"y":600,"wires":[]},{"id":"ce2902eae63d3fed","type":"pst-peek","z":"ad7a38ad45aca7e6","name":"","stack":"6cee6eea69481244","x":400,"y":400,"wires":[["5c2d1782f79464ba","2791918c7581c58b"]]},{"id":"9f0c38e5782f48e9","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"65055573839652a2","order":3,"width":0,"height":0,"passthru":false,"label":"Peek","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":400,"wires":[["ce2902eae63d3fed"]]},{"id":"a37818b0492b3f49","type":"ui_text_input","z":"ad7a38ad45aca7e6","name":"","label":"Picked item","tooltip":"","group":"65055573839652a2","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":710,"y":400,"wires":[[]]},{"id":"5682a943ca66a133","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"65055573839652a2","order":1,"width":0,"height":0,"passthru":false,"label":"Run Process","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":460,"wires":[["a36accb9af27fb5d"]]},{"id":"31e42f2c3c461477","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"ff223dc38cbd161e","order":1,"width":0,"height":0,"passthru":false,"label":"source : New Item to input","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":210,"y":160,"wires":[["61f6cf188013bfad"]]},{"id":"8cb64a4efcaa3145","type":"pst-shift","z":"ad7a38ad45aca7e6","name":"remove output ETQ1","stack":"7b69321d0449238e","x":540,"y":800,"wires":[[]]},{"id":"7a81b891e6583db9","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"a49f272e325f0ae7","order":1,"width":0,"height":0,"passthru":false,"label":"Sink : drop output item","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":800,"wires":[["8cb64a4efcaa3145"]]},{"id":"94117acf5852e6de","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"2978855bfc7e2ad5","order":1,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":100,"wires":[["a60f540c48ca354a"]]},{"id":"c9f581e62f7ab76b","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"48f44daf9b11b412","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":660,"wires":[["f5a8724a86d2d7bd"]]},{"id":"d5d947d80f59922f","type":"comment","z":"ad7a38ad45aca7e6","name":"Process Simulation","info":"","x":110,"y":320,"wires":[]},{"id":"6f847531c0264e11","type":"comment","z":"ad7a38ad45aca7e6","name":"Input Conveyor","info":"","x":100,"y":60,"wires":[]},{"id":"c4cee7caf0ed8b36","type":"comment","z":"ad7a38ad45aca7e6","name":"Output Conveyor","info":"","x":100,"y":560,"wires":[]},{"id":"5c2d1782f79464ba","type":"change","z":"ad7a38ad45aca7e6","name":"get ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["a37818b0492b3f49"]]},{"id":"2791918c7581c58b","type":"debug","z":"ad7a38ad45aca7e6","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":360,"wires":[]},{"id":"828edc070836cd04","type":"pst-peek","z":"ad7a38ad45aca7e6","name":"","stack":"7b69321d0449238e","x":400,"y":880,"wires":[["5043a93f1bac0e50","848922ceee4e0fae"]]},{"id":"514f2c5b1c096f45","type":"ui_button","z":"ad7a38ad45aca7e6","name":"","group":"a49f272e325f0ae7","order":3,"width":0,"height":0,"passthru":false,"label":"Peek","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":880,"wires":[["828edc070836cd04"]]},{"id":"dd927ce24e1f823a","type":"ui_text_input","z":"ad7a38ad45aca7e6","name":"","label":"Picked item","tooltip":"","group":"a49f272e325f0ae7","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":710,"y":880,"wires":[[]]},{"id":"5043a93f1bac0e50","type":"change","z":"ad7a38ad45aca7e6","name":"get ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":880,"wires":[["dd927ce24e1f823a"]]},{"id":"848922ceee4e0fae","type":"debug","z":"ad7a38ad45aca7e6","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":840,"wires":[]},{"id":"c40692f24550f525","type":"comment","z":"ad7a38ad45aca7e6","name":"out","info":"","x":70,"y":760,"wires":[]},{"id":"9c98144049efc824","type":"ui-pst-queue","z":"ad7a38ad45aca7e6","name":"","group":"2978855bfc7e2ad5","width":6,"height":"6","order":0,"x":430,"y":260,"wires":[]},{"id":"c8d85a55cc78a412","type":"ui_spacer","z":"ad7a38ad45aca7e6","name":"spacer","group":"65055573839652a2","order":2,"width":1,"height":1},{"id":"0d36cbb5e77bd935","type":"ui_spacer","z":"ad7a38ad45aca7e6","name":"spacer","group":"a49f272e325f0ae7","order":2,"width":1,"height":1},{"id":"6cee6eea69481244","type":"pst-stack","z":"ad7a38ad45aca7e6","name":"PF-ETQ1-CV-IN1","stackid":"PF-ETQ1-CV-IN1","maxitem":"20","manufacturingcell":"61b19384c5e8583a","mqttClient":"","mqttTopicEvent":"","mqttTopicSuperv":"","mqttTopicCommand":""},{"id":"7b69321d0449238e","type":"pst-stack","z":"ad7a38ad45aca7e6","name":"PF-ETQ1-CV-OUT1","stackid":"PF-ETQ1-CV-OUT1","maxitem":"50","manufacturingcell":"61b19384c5e8583a","mqttClient":"","mqttTopicEvent":"","mqttTopicSuperv":"","mqttTopicCommand":""},{"id":"2978855bfc7e2ad5","type":"ui_group","z":"ad7a38ad45aca7e6","name":"Input Conveyor","tab":"7fe5a5ad7552fe8c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"48f44daf9b11b412","type":"ui_group","z":"ad7a38ad45aca7e6","name":"Output","tab":"7fe5a5ad7552fe8c","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65055573839652a2","type":"ui_group","z":"ad7a38ad45aca7e6","name":"Etq Simulator","tab":"7fe5a5ad7552fe8c","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"ff223dc38cbd161e","type":"ui_group","z":"ad7a38ad45aca7e6","name":"IN","tab":"7fe5a5ad7552fe8c","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"a49f272e325f0ae7","type":"ui_group","z":"ad7a38ad45aca7e6","name":"OUT","tab":"7fe5a5ad7552fe8c","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"61b19384c5e8583a","type":"pst-manufacturingcell","z":"ad7a38ad45aca7e6","name":"Etiqueteuse 1","cellid":"ETQ1","processflow":"55a491de788e9d3f","manufacturer":"CDA","model":""},{"id":"7fe5a5ad7552fe8c","type":"ui_tab","z":"ad7a38ad45aca7e6","name":"Etiquteuse","icon":"dashboard","disabled":false,"hidden":false},{"id":"55a491de788e9d3f","type":"pst-processflow","z":"ad7a38ad45aca7e6","name":"Prod-L1","processid":"L1","company":"MyCompany","department":"MyDepartment","location":"B0-17"}]